
@import url("https://hello.myfonts.net/count/3ab588");
@import 'reset-css/reset.css';

@font-face {
  font-family: 'Mont-Book';
  src: url('webfonts/3AB588_0_0.eot');
  src: url('webfonts/3AB588_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3AB588_0_0.woff2') format('woff2'), url('webfonts/3AB588_0_0.woff') format('woff'), url('webfonts/3AB588_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('webfonts/3AB588_1_0.eot');
  src: url('webfonts/3AB588_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3AB588_1_0.woff2') format('woff2'), url('webfonts/3AB588_1_0.woff') format('woff'), url('webfonts/3AB588_1_0.ttf') format('truetype');
}

@mixin fontMontBook() {
  font-family: Mont-Book, Arial, Helvetica, sans-serif;
}

@mixin fontMontBold() {
  font-family: Mont-Bold, Arial, Helvetica, sans-serif;
}

@mixin title() {
  @include fontMontBold();

  line-height: var(--s-line-height-titles);
  letter-spacing: -0.01em;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgba(0, 0, 0, 0.99);
  color: white;
  text-shadow: none;
}

.is-selection-inverted {
  *::selection {
    background: rgba(255, 255, 255, 0.99);
    color: black;
    text-shadow: none;
  }
}

// utilities
$breakpoints: (
  'desktop-xl': 'min-width: 1921px',
  'desktop-l': 'max-width: 1440px',
  'desktop': 'max-width: 1280px',
  'tablet': 'max-width: 1024px',
  'phone': 'max-width: 640px',
  'phone-xs': 'max-width: 375px',
  'hover': 'hover: hover'
);

@mixin viewport($name) {
  @if map-has-key($breakpoints, $name) {
    @media (#{map-get($breakpoints, $name)}) {
      @content;
    }
  }
}

@keyframes twerk {
  10%,
  90% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  20%,
  80% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * -1), 0);
  }

  40%,
  60% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * 1), 0);
  }
}

// styles

:root {
  //colors
  --c-text: rgba(0, 0, 0, 1);
  --c-text-inverted: rgba(255, 255, 255, 0.9);
  --c-lines: rgba(0, 0, 0, 1);
  --c-lines-inverted: rgba(255, 255, 255, 0.9);

  //sizes
  --s-text: 1.5rem;
  --s-text-small: calc(var(--s-text) * 0.65);
  --s-text-h1: calc(var(--s-text) * 4);
  --s-text-h2: calc(var(--s-text) * 3);
  --s-text-navigation: 1.8vh;
  --s-line-height: 1.6;
  --s-line-height-titles: 1;
  --s-gutter: 8vh;
  --s-logo: 6vh;
  --s-lines: 2px;
  --s-twerk: 0.5px;
  --s-translateYAnimateIn: 10vh;

  //eases
  --e-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --e-inout: cubic-bezier(0.77, 0, 0.175, 1);

  @media (min-height: 1024px) {
    --s-text-navigation: 1.4vh;
    --s-logo: 5vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;
}

b,
strong {
  @include fontMontBold();
}

a {
  color: var(--c-text);
  text-decoration: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontMontBook;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-line-height);
  color: var(--c-text);
}

.close-button {
  --s-dims: 2.5em;
  --s-square: -0.5em;
  --c-square: var(--c-text);
  --c-arrow: var(--c-lines);

  $root: #{&};

  width: var(--s-dims);
  height: var(--s-dims);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: var(--s-square);
    right: var(--s-square);
    bottom: var(--s-square);
    left: var(--s-square);
    background-color: var(--c-square);
    transform: scaleY(0);
    transform-origin: top left;
    transition: transform var(--e-out) 0.35s;
  }

  &:hover {
    --c-arrow: white;

    animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;

    &::before {
      transform-origin: bottom left;
      transform: scaleY(1);
    }
  }

  &__link {
    display: block;
    position: relative;
    width: var(--s-dims);
    height: var(--s-dims);
    transform: rotate(45deg);

    &::after {
      transform: rotate(90deg);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: var(--s-dims);
      height: var(--s-lines);
      background-color: var(--c-arrow);
      transition: background-color ease-out 0.25s;
    }
  }

  .is-inverted & {
    --c-arrow: var(--c-lines-inverted);
  }

  &--black {
    --c-square: white;

    &:hover {
      --c-arrow: black;
    }
  }
}

.logo {
  $root: #{&};

  position: fixed;
  z-index: 1;
  top: var(--s-gutter);
  left: var(--s-gutter);
  transform: rotate(-90deg) translate(-99%, -20%);
  transform-origin: top left;
  will-change: transform;

  &__container {
    &:hover {
      animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
    }
  }

  &__mask {
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 100%;
    transform: translateX(-100%);
    overflow: hidden;
    transition: width var(--e-inout) 0.5s;

    #{$root}:hover & {
      width: 100%;
      left: 0;
      transform: none;
    }
  }

  &__el {
    display: block;
    width: auto;
    height: var(--s-logo);
    fill: var(--c-text);

    &--black {
      fill: black;
      position: absolute;
      right: 0;

      #{$root}:hover & {
        position: relative;
        right: 0;
      }
    }
  }
}

.separe {
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  width: 0.5em;

  &--spaced {
    margin: 0 0.2em;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--s-lines);
    top: 42%;
    background-color: var(--c-lines);
  }
}

.text-link {
  --s-padding: -0.1em;

  display: inline-block;
  position: relative;
  transition: color ease-out 0.25s;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: var(--s-padding);
    bottom: calc(var(--s-padding) + 0.2em);
    right: calc(var(--s-padding) * 3);
    left: calc(var(--s-padding) * 3);
    background-color: var(--c-text);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform var(--e-inout) 0.25s;
    will-change: transform;
  }

  &:hover {
    color: white;
    animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;

    &::before {
      transform: none;
      transform-origin: top left;
    }
  }
}

.navigation {
  @include fontMontBold;

  position: fixed;
  z-index: 999;
  bottom: var(--s-gutter);
  left: var(--s-gutter);
  font-size: var(--s-text-navigation);
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: rotate(-90deg) translate(0, 100%);
  transform-origin: bottom left;

  &__link {
    --s-padding: -0.5em;

    display: inline-block;
    position: relative;
    margin-right: 3vh;
    transition: color ease-out 0.25s;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: var(--s-padding);
      bottom: calc(var(--s-padding) + 0.2em);
      right: var(--s-padding);
      left: var(--s-padding);
      background-color: var(--c-text);
      z-index: -1;
      transform: scaleX(0);
      transform-origin: top right;
      transition: transform var(--e-inout) 0.25s;
      will-change: transform;
    }

    &::after {
      left: 0;
      right: 0;
      top: 1em;
      bottom: auto;
      height: var(--s-lines);
    }

    &:hover {
      color: white;
      animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;

      &::before {
        transform: none;
        transform-origin: top left;
      }
    }

    &.is-current {
      cursor: default;

      &::before {
        transform-origin: top right;
      }

      &::after {
        transform: none;
      }

      &:hover {
        color: var(--c-text);
        animation: none;

        &::before {
          transform: scaleX(0);
        }
      }
    }
  }
}

.content-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 50%;
  min-height: 100vh;
  padding-top: var(--s-gutter);
  padding-right: var(--s-gutter);
  box-sizing: border-box;

  &__lead {
    position: relative;
    margin-top: -0.3em;
    margin-bottom: 5em;
  }

  &__title {
    @include title();

    padding-bottom: 0.3em;
  }

  &__subtitle {
    position: relative;
    font-size: var(--s-text-small);
    text-transform: uppercase;
    margin-top: 7em;
    margin-bottom: 4em;

    &:first-child {
      margin-top: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: calc(var(--s-gutter) * -1);
      bottom: -0.2em;
      height: var(--s-lines);
      background-color: var(--c-lines);
    }
  }

  &__list {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }
}

.projects {
  --d-opacity: 0.35s;

  overflow: hidden;

  &__container {
    width: 50%;
    margin-left: 50%;
    padding-top: var(--s-gutter);
    transition: transform var(--e-inout) 0.75s, opacity ease var(--d-opacity);

    &.is-masked {
      opacity: 0;
    }

    &.is-translated {
      transform: translateY(var(--s-translateYAnimateIn));
      transition: opacity ease var(--d-opacity);
    }
  }

  &__title {
    padding-bottom: 3em;
  }

  &__title-detail {
    @include fontMontBook();
  }
}

.project-list {
  $root: #{&};

  border-bottom: var(--s-lines) solid var(--c-lines);

  &:first-child {
    border-top: var(--s-lines) solid var(--c-lines);
  }

  &__link {
    display: block;
    padding: 3em 0;
    padding-right: var(--s-gutter);
  }

  &__title {
    font-size: var(--s-text-h2);
    padding-bottom: 0.3em;
    transition: color ease-out 0.2s;
    will-change: color;

    #{$root}:hover & {
      animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
    }
  }

  &__separation {
    display: inline-block;
    padding: 0 0.2em;
  }
}

.project {
  position: relative;
  z-index: 100;

  &.is-inverted {
    color: var(--c-text-inverted);
  }

  &__container {
    min-height: 100vh;
  }

  &__close-button {
    position: fixed;
    z-index: 1000;
    top: var(--s-gutter);
    right: var(--s-gutter);
  }

  &__header {
    padding: var(--s-gutter);
  }

  &__title {
    font-size: var(--s-text-h1);
    padding-right: var(--s-gutter);
  }

  &__lead {
    width: 50%;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.miscs {
  &__container {
    flex-grow: 1;
  }
}

.misc {
  position: relative;
  z-index: 100;
  background-color: black;
  color: white;

  &.is-inverted {
    color: var(--c-text-inverted);
  }

  &__container {
    min-height: 100vh;
  }

  &__close-button {
    position: fixed;
    z-index: 1000;
    top: var(--s-gutter);
    right: var(--s-gutter);
  }

  &__header {
    padding: var(--s-gutter);
  }

  &__title {
    font-size: var(--s-text-h1);
    padding-right: var(--s-gutter);
  }

  &__lead {
    width: 50%;
  }
}

.pagination {
  $root: #{&};

  color: var(--c-text-inverted);
  display: flex;

  &__link {
    color: var(--c-text-inverted);
    flex-basis: 50%;
    text-align: center;
    background-color: var(--c-text);
    box-sizing: border-box;
    padding: calc(var(--s-gutter) * 1.5) calc(var(--s-gutter) * 0.5);

    &:first-child {
      margin-right: var(--s-lines);

      #{$root}.is-black & {
        border-right: var(--s-lines) solid white;
      }
    }
  }

  &__subtitle {
    display: block;
    font-size: var(--s-text-small);
    margin-bottom: 0.5em;

    :hover > & {
      animation: twerk 0.5s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
    }
  }

  &__title {
    @include fontMontBold();

    display: block;

    :hover > & {
      animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
    }
  }
}

.credits {
  font-size: calc(var(--s-text-small));
  padding: var(--s-gutter);
  padding-left: 0;

  &__text {
    transform: translateY(0.5em);
  }
}

.transition-logo {
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-out 0.2s;

  &.is-displayed {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .logo__mask {
    display: none;
  }

  .logo__el {
    fill: white;
  }
}

.transition-background {
  &__el-in,
  &__el-out {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    background-color: white;

    &.is-normal-page {
      background-color: black;
      z-index: 998;
    }
  }
}

.animate-in {
  --d-delay: 0.25s;
  --d-delay-step: 0.2s;
  --d-in-opacity: 0.75s;
  --e-opacity: ease;
  --d-in-transform: 1s;
  --e-transform: var(--e-out);
  --delay-id: 0;

  opacity: 0;
  transform: translateY(var(--s-translateYAnimateIn));
  transition: opacity var(--e-opacity) var(--d-in-opacity), transform var(--e-transform) var(--d-in-transform);
  transition-delay: calc(var(--d-delay) + var(--delay-id) * var(--d-delay-step));
  will-change: opacity, transform;

  .is-displayed & {
    opacity: 1;
    transform: none;
  }

  @for $i from 1 to 10 {
    &__s#{$i} {
      --delay-id: #{$i};
    }
  }
}

.transition-wave-in-enter-active {
  transition: transform var(--e-inout) 0.5s;
  transform-origin: top left;
}

.transition-wave-in-enter,
.transition-wave-in-leave-to {
  transform: scaleY(0);
}

.transition-wave-out-enter-active {
  transform: scaleY(0);
  transition: transform var(--e-inout) 0.5s;
  transform-origin: bottom left;
}

.transition-wave-out-leave-active {
  transform: scaleY(0);
}

.transition-wave-out-enter {
  transform: scaleY(1);
}

.transition-logo-enter-active {
  transition: opacity var(--e-inout) 0.5s;
}

// helper classes
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
  position: static;
  width: auto;
  height: auto;
}
