//fonts
@mixin fontRunText() {
  font-family: Sang-Bleu-Sunrise, Arial, Helvetica, sans-serif;
}

@mixin fontTitle() {
  font-family: Mont-Bold, Arial, Helvetica, sans-serif;
}

// utilities
$breakpoints: (
  'desktop-xl': 'min-width: 1921px',
  'desktop-l': 'max-width: 1440px',
  'desktop': 'max-width: 1280px',
  'tablet': 'max-width: 1024px',
  'tablet-s': 'max-width: 768px',
  'mobile-l': 'max-width: 560px',
  'mobile': 'max-width: 414px',
  'mobile-s': 'max-width: 320px',
  'hover': 'hover: hover',
  'vertical': 'max-aspect-ratio: 12/8',
  'vertical-xl': 'max-aspect-ratio: 12/10'
);

@mixin viewport($name) {
  @if map-has-key($breakpoints, $name) {
    @media (#{map-get($breakpoints, $name)}) {
      @content;
    }
  }
}

@mixin title {
  @include fontTitle();

  line-height: var(--s-line-height-titles);
  letter-spacing: -0.01em;
}

@mixin label {
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

@mixin label-small {
  @include label;

  font-size: var(--s-text-small);
}

@mixin anti-aliased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@mixin aliased {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -o-font-smoothing: auto;
}

.aliased {
  @include aliased();
}

@mixin text-indent {
  p {
    text-indent: 2em;
    margin-bottom: 0;

    &:first-of-type {
      text-indent: 0;
    }

    &:last-of-type {
      margin-bottom: var(--s-p-margin);
    }

    a {
      text-indent: 0;
    }
  }
}

.text-indent {
  @include text-indent();
}

@mixin hyphens {
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

@mixin twerk-anime {
  animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
}

@keyframes twerk {
  10%,
  90% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  20%,
  80% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * -1), 0);
  }

  40%,
  60% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * 1), 0);
  }
}

// styles
:root {
  //colors
  --c-text: black;
  --c-text-inverted: white;
  --c-lines: black;
  --c-lines-inverted: white;

  //sizes
  --s-text: 1.75rem;
  --s-text-title-font-compensated: 1.1;
  --s-text-small: calc(var(--s-text) * 0.65);
  --s-text-h1: calc(var(--s-text) * 4);
  --s-text-h2: calc(var(--s-text) * 3);
  --s-text-lead: calc(var(--s-text) * 1.5);
  --s-text-navigation: var(--s-text-small);
  --s-line-height: 1.7;
  --s-line-height-titles: 1;
  --s-line-height-titles-small: 1.2;
  --s-line-height-lead: 1.6;
  --s-p-margin: 1.5em;
  --s-letter-spacing-readability: 0.025em;
  --s-gutter: 8vh;
  --s-gutter-col: calc(var(--s-gutter) * 0.25);
  --s-logo: 5vh;
  --s-lines: 2px;
  --s-twerk: 0.5px;
  --s-decal-close-to-corner: 0.5em;
  --s-preloader: 100px;
  --s-preloader-line: 1px;

  //eases
  --e-in: cubic-bezier(0.895, 0.03, 0.685, 0.22); // quart
  --e-out: cubic-bezier(0.165, 0.84, 0.44, 1); // quart
  --e-inout: cubic-bezier(0.77, 0, 0.175, 1); // quart

  @include viewport('vertical') {
    --s-gutter: 6vh;
  }

  @include viewport('vertical-xl') {
    --s-gutter: 5vh;
  }

  @media (min-width: 1920px) {
    --s-logo: 4.75vh;
  }

  @include viewport('desktop-xl') {
    --s-logo: 4.5vh;
  }

  @include viewport('desktop') {
    --s-text: 2rem;
  }

  @include viewport('tablet') {
    --s-text: 2.2rem;
  }

  @include viewport('tablet-s') {
    --s-text: 3.3rem;
    --s-text-h1: calc(var(--s-text) * 2.5);
    --s-decal-close-to-corner: 1em;
  }

  @include viewport('mobile-l') {
    --s-text: 4.5rem;
    --s-text-h1: calc(var(--s-text) * 2);
  }

  @include viewport('mobile') {
    --s-gutter: 8vw;
    --s-text: 5.5rem;
    --s-text-h1: calc(var(--s-text) * 1.65);
    --s-decal-close-to-corner: 1em;
    --s-text-small: calc(var(--s-text) * 0.7);
  }

  @include viewport('mobile-s') {
    --s-gutter: 6vw;
    --s-text-small: calc(var(--s-text) * 0.85);
    --s-decal-close-to-corner: 0.1em;
  }
}
